pip>=25.1.1
# Librerías principales
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2

# Scikit-learn para ML
scikit-learn==1.4.2

# TensorFlow para redes neuronales
tensorflow==2.10.0
protobuf==3.19.6  # Compatible con TensorFlow 2.10.0
streamlit==1.16.0 # Versión anterior que acepta protobuf<3.20
rich>=10.14.0,<14 # Compatible con streamlit 1.16.0
