pip>=25.1.1
# Librerías principales
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2

# Scikit-learn para ML
scikit-learn==1.4.2

# TensorFlow para redes neuronales
tensorflow==2.10.0
# Streamlit si vas a desplegar como app
streamlit==1.34.0
